# Shell
alias ..='cd ..;'
alias ...='.. ..'
alias ....='.. .. ..'
alias md='mkdir -p'
alias rf='rm -rf'

# Npm
alias ni='npm install'
alias nig='npm install --global'
alias nis='npm install --save'
alias nid='npm install --save-dev'
alias nls='npm ls'
alias nr='npm run'
alias ns='npm start'
alias nt='npm test'
alias nf='npm cache clean && rm -rf node_modules && npm install'
alias nk='npm link'
alias no='npm outdated'

# Git
alias git='hub'
alias ga='git add'
alias gap='git add -p'
alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -D'
alias gci='git commit'
alias gca='git commit -a'
alias gch='git cherry -v'
alias gcp='git cherry-pick'
alias gc='git clone'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gd='git diff'
alias gl='git log --all --graph --date-order --pretty="format:%C(yellow)%h%Creset%C(bold red)%d %Creset%s %C(dim)(%cr)%Creset %C(green)<%cN>"'
alias gm='git merge'
alias gmf='git merge --no-ff'
alias gmn='git merge --no-ff --no-commit'
alias gp='git push'
alias gpo='git push origin'
alias gpom='git push origin master'
alias gpl='git pull'
alias grh='git reset --hard'
alias gst='git status'
alias gt='git tag'

# Brew
alias buf='brew update && brew upgrade && brew prune && brew cleanup'
