# Shell
alias sudo='sudo '
alias ..='cd ..;'
alias ...='.. ..'
alias ....='.. .. ..'
alias md='mkdir -p'
alias rf='rm -rf'
alias f='find . -name'
alias bed='pmset sleepnow'
alias path='echo -e ${PATH//:/\\n}'
alias run='open -a'
alias copy='pbcopy'
alias paste='pbpaste'

# Npm
alias ni='npm install'
alias nr='npm run'
alias ns='npm start'
alias nt='npm test'
alias nf='rm -rf node_modules && npm install'
alias nk='npm link'
alias nv='npm version'
alias no='npm outdated'
alias nu='npm uninstall'
alias nup='npm update'
alias nls='npm ls --depth 0'

# Yarn
alias y='yarn'
alias yi='yarn install'
alias ya='yarn add'
alias ys='yarn start'
alias yt='yarn test'
alias yf='rm -rf node_modules && yarn install'
alias yk='yarn link'
alias yv='yarn version'
alias yo='yarn outdated'
alias yu='yarn remove'
alias yup='yarn upgrade --latest'
alias yls='yarn list --depth 0'

# Git
alias ga='git add'
alias gb='git branch'
alias gc='git commit --patch --verbose'
alias gcl='git clone'
alias gco='git checkout'
alias gcp='git cherry-pick'
alias gcv='git cherry -v'
alias gd='git diff'
alias gl='git log --graph --oneline --all --decorate --date-order'
alias gm='git merge'
alias gn='git merge --no-ff --no-commit'
alias gp='git push'
alias gpl='git pull'
alias gr='git reset'
alias gs='git show'
alias gst='git status --short --branch'
alias gt='git tag --sort version:refname'
alias gbdm='git branch --merged | sed "s/* master//g" | xargs -I % bash -c "git branch -d %; git push origin :%"'
alias gpld='find . -type d -depth 1 -exec git --git-dir={}/.git --work-tree=$PWD/{} pull origin master \;'

# Tools
alias get='curl -O -L -#'
alias myip='curl -s https://ifconfig.co'
alias mylocalip='ifconfig | sed -En "s/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p"'
alias en='trans -I :en'
alias ru='trans -I :ru'
alias ag='ag --stats'
alias rand='date +%s | md5 | base64 | head -c 32'
alias imgur='imgur-screenshot'
alias curltime='curl -w "@$HOME/.curl-format.txt" -o /dev/null -s'

# Apps
alias chromium='open -a Chromium'
alias chrome='open -a Google\ Chrome'
alias canary='open -a Google\ Chrome\ Canary'
alias safari='open -a Safari'
alias safaritech='open -a Safari\ Technology\ Preview'
alias firefox='open -a Firefox'
alias nightly='open -a Firefox\ Nightly'
alias yandex='open -a Yandex'
alias mail='open -a Mail'
alias notes='open -a Notes'
alias cal='open -a Calendar'
alias term='open -a iTerm'
alias telegram='open -a Telegram'
alias vm='VBoxManage startvm'
alias ios='open -a Simulator'
alias android='$HOME/Library/Android/sdk/tools/emulator -avd'

# Scripts
alias update="$DOTFILES/update.sh"
alias clean="$DOTFILES/clean.sh"
