"*":
  core:
    customFileTypes:
      "source.js": [
        "jsx"
        "es5"
        "es6"
      ]
      "text.html.basic": [
        "soy"
      ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "b69f0c45-55e4-4358-1771-0b1587794f0a"
  "file-icons":
    coloured: false
  "one-light-ui":
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
